body{
    font-family: 'Poppins', sans-serif;
    width: auto;
}
*{
    padding: 0;
    margin: 0;
}
li{
    padding: 500px 89 0 89px;
    list-style: none;
    display: inline;
    font-size: 30px;
    line-height: 30px;
   
}
a{
   
    text-decoration: none;
}
header{
    position: fixed; top: 0;
    background: rgb(156, 158, 149);
    width: 100%;

}


.header-container{
width: 1400px;
height: 90px;
margin:0 auto;
display:flex;
justify-content: space-between;
}
.header-container a{
    color: rgb(255, 255, 255);
    font-size: 30px;
    margin-right: 63px;
    padding: 30px 10px;

}
.header-container a:hover{
    background: yellow;
   
}
#menu-checkbox{
    display: none;
}
ul{
    display: flex;
    padding: 500px 89 0 89px;
    margin: 30px 30px ;
}  
.logo{
    font-size: 32px;
    padding: 0px 0px;
    
}
button{
    padding: 6px 0px  2px 2px;
    display: inline;
}

.block1 {

    height: 85px;
    width: 150px;
    border-radius: 8px;
    margin: 160px 0 0 0;

}
.input0{
    border-radius: 90px;
    border: 4px solid #272525;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px 30px 12px 30px;
    gap: 10px;
}
.fdiv {
    display: flex;
    padding-inline: 350px;
    padding-top: 500px;
    justify-content: center;
    align-items: center;
    /* margin-bottom: 200px;
    width: 1000px;
    height: 300px; */
    
}
.block_text {
	text-align: left

}

.block_img :nth-child(h1) {
   padding: 100px;

}
h8{
    background-color: rgb(129, 187, 238);
    padding: 10px;
}


.cricle1{
    
    display: flex;
    justify-content: center;
    padding: 50px 0 50px  

}
.cricle2{
    
    display: flex;
    justify-content: center;
    padding: 50px 0 50px ;
   
}

.span{
    display: inline-flex;
    background: #ccc;
    color: #ffffff;
    text-align: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    padding: .3em .65em;
    justify-content: center;
    align-items: center;
    margin: 50px 50px;
  }
  .span:hover{
    background: #272525;
  }
.numbers{
    display: flex;
    justify-content: center;


}
.num{
    padding-top:100px ;
    padding-inline: 100px;
    font-size: 60px;
    color: #5D6AFB;
    font-weight: 700;
}
.snum{
   text-align: center;
}
