body{
    font-family: 'Poppins', sans-serif;
    width: auto;
}
*{
    padding: 0;
    margin: 0;
}
li{
    list-style: none;
    display: inline;
}
a{
    text-decoration: none;
}
header{
    background: rgba(30, 30, 180, 0.333);
    padding: 9px 0px 0px 20px;
    border-radius: 120px;
}
.nav0{
    
}
.header-container{
width: 1400px;
height: 838px;
margin:0 auto;
display:flex;
justify-content: space-between;
}
.header-container a{
    color: black;
    font-size: 30px;
    margin-right: 63px;
    padding: 30px 10px;

}
.header-container a:hover{
    background: yellow;
   
}
#menu-checkbox{
    display: none;
}
ul{
    display: flex;

}  
.logo{
    font-size: 32px;
    padding: 10px 0px;
     
}
button{
    padding: 12px 0px  5px 5px;
    margin: 0px 0px 0px 10px;
    border: 0px 0px 10px 0px;
}
